<div class="modal" id="unsavedChangesModal" tabindex="-1" aria-labelledby="unsavedChangesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="unsavedChangesModalLabel">Unsaved Changes</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You have unsaved inspection changes. Leave without saving?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" id="unsavedChangesNoButton" type="button" data-bs-dismiss="modal">No</button>
                <button class="btn btn-primary" id="unsavedChangesYesButton" type="button">Yes</button>
            </div>
        </div>
    </div>
</div>
